@charset "utf-8";@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
/* CSS Document */
:root{
--color-principal: #ff9d00;

--color-boton-hover: #f75160;

--color-rojizo: #aa0717;

--color-negro: #000;

--color-general: #999999;
	
--color-blanco: #fff;
	
--color-azul-oscuro: #007bff;
}
	


body {
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	color: #000000;
}


header{
	font-family: 'Ubuntu', sans-serif;
	background-color: #AA0717;
	padding: 20px 0;
	position: absolute;
	width: 100%;
	z-index: 999999;
	letter-spacing: 1px;
}

header img{
	width: 300px;
	padding-top: 10px;

}

.header-area.sticky {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
	width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    z-index: 99;
	
}

.header-area.sticky{
	background-color: var(--color-rojizo)!important;
	}

.navbar-light {
	
	background-color:transparent!important;
	font-size:20px;	
}


.header-area.sticky .navbar-default{
	background-color: #884bdf;
}

.header-area.sticky .navbar-light .navbar-nav .nav-link{
	color: #3F1414;
	
	
}

.header-area.sticky .navbar-light .navbar-nav .nav-link:hover{
	color: var(--color-blanco);
}
.header-area.sticky .navbar-light .navbar-nav .active .nav-link{
	color: var(--color-principal);
	
}
.header-area.sticky .navbar-light .navbar-brand {
	color: #FFFFFF;
	opacity: 0.6
}

.header-area.sticky .navbar-light .navbar-nav .active .nav-link{
	color: var(--color-principal);
}


.header-area.sticky .navbar-light .navbar-nav .nav-link{
	color: var(--color-negro);
}
.header-area.sticky .navbar-light .navbar-nav .active .nav-link{
	color: var(--color-principal);
}
.header-area.sticky .navbar-light .navbar-brand {
	color: var(--color-negro);
}



#slides{
	
    display: grid;
	align-items:center;
	align-content: center;
    height: 100%;
	font-family: 'Ubuntu', sans-serif;		
}

#slides h1{
	
	
	font-size: 500%;
	color: #FFFFFF;
	
}

.logo{
	
	display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15%;
  width: 100%;


}

#alegria{
	
	text-align: center;
	color: rgba(0,0,0,1.00);
	padding-top: 15%;
    
}

#alegria h4{
	
	font-family: Open Sans;	
	font-size: 25px;
	padding-top: 30%;
	padding-bottom: 30%;
	font-weight: bolder
}

#alegria h1{
	
	padding-bottom: 10%;
}


#alegria p{
	color: var(--color-negro);
	font-size: 15px;
	margin-bottom: 50%;
	font-style: italic;
	
}

#alegria .dos{
	
	margin-top: 38%;
	
}

#alegria .tres{
	
	margin-top: 5%;
	
}

#alegria .cuatro{
	
	margin-top: 17%;
	
}

.cuatro_texto{
	
	margin-top: -11%;
}

#jordi-cruz-mas{
	
	background-color: var(--color-rojizo);
	
}

.logo-jordi{
	
	margin-top: 15%;
	margin-bottom: 15%;
}

.tres_jordi{
	
	margin-left: 25%;
	text-align: center;
	color: var(--color-negro);
}

.tres_jordi:hover{
	
	color: var(--color-blanco);
}

#jordi-cruz-mas h1{
	
	margin-bottom: 7%;
	color: var(--color-blanco);
}


.jordi{
	
	margin-bottom: 20%;
}

#videos{
	
	background: url("../img/food_dark_i_.jpg");
	background-position: center;
	background-size: cover;
	text-align: center;
	padding-top: 8%;
   
	

	
}

#videos h1{
	
	font-family: Open Sans;	
	font-size: 70px;
	font-weight: bolder;
	color: var(--color-principal);
	margin-bottom: 15%;
}
#videos h1:hover{

	color: var(--color-blanco);

}

#videos p{
	
	font-family: Open Sans;	
	font-size: 15px;
	color: var(--color-blanco);
	font-weight: 700;
	
}

#videos h2{
	
	font-family: Open Sans;	
	font-size: 40px;
	font-weight: bolder;
    color: var(--color-principal);
}


	
.btn-videos {
	font-family: Open Sans;
    background: var(--color-rojizo); 
	color: #FFFFFF;
	text-transform: uppercase;
	border-radius: 0px;
	padding: 20px;
	border: 0px;
	letter-spacing: 1px;
	text-align: center;
}

.btn-videos:hover{
	
	background: var(--color-principal);
}

.cordero{
	
	margin-left: 20%;
}

.texto-jordi-receta-atun{
	margin-left: 10%;
	margin-top:14%;
}

.atun-foto{
	
	margin-top:15%;
}

.cordero-p{
	
	color: var(--color-negro);
}

.tacos-pato-i-{
	
	margin-top: 15%;
}

.tacos-pato-ii- {
	width: 50%;
	margin-top: 15%; 
}

#alegria img:hover{
	
	margin-bottom: 5%;
	margin-top: 5%;
	transition: all 0.3s ease;
	box-shadow: 0 0 30px 0 #eee;
	transform: translateY(-10px);
}

#tienda_el_bocadillo .logo-tienda{
	
	margin-left: 2%;
	margin-bottom: 10%;

}

#tienda_el_bocadillo{
	
	text-align: center;
	margin-top: 10%;
}


#tienda_el_bocadillo .producto:hover{
	
    margin-bottom: 5%;
	margin-top: 5%;
	transition: all 0.3s ease;
	box-shadow: 0 0 30px 0 #eee;
	transform: translateY(-10px);
	
}

#tienda_el_bocadillo h1{
	
	font-weight: bolder;
	font-family: 'Ubuntu', sans-serif;
	
}

.btn-productos {
	font-family: Open Sans;
    background: var(--color-rojizo); 
	color: #FFFFFF;
	text-transform: uppercase;
	border-radius: 0px;
	padding: 10px;
	border: 0px;
	letter-spacing: 1px;
	text-align: center;
	margin-top:38%;
}

.btn-productos:hover {
	
	background: var(--color-principal);
}

.btn-pr-i{
	
	margin-top: 25%;
	font-family: Open Sans;
    background: var(--color-rojizo); 
	color: #FFFFFF;
	text-transform: uppercase;
	border-radius: 0px;
	padding: 10px;
	border: 0px;
	letter-spacing: 1px;
	text-align: center;
}

.btn-pr-i:hover {
	color:var(--color-blanco);
	background: var(--color-principal);
}

.btn-queso {
	font-family: Open Sans;
    background: var(--color-rojizo); 
	color: #FFFFFF;
	text-transform: uppercase;
	border-radius: 0px;
	padding: 10px;
	border: 0px;
	letter-spacing: 1px;
	text-align: center;
	margin-top: 1%;
	
}

.btn-queso:hover {
	
	background: var(--color-principal);
	color: var(--color-blanco);
}

.btn-medidora {
	font-family: Open Sans;
    background: var(--color-rojizo); 
	color: #FFFFFF;
	text-transform: uppercase;
	border-radius: 0px;
	padding: 10px;
	border: 0px;
	letter-spacing: 1px;
	text-align: center;
	margin-top: 22%;
}

.btn-medidora:hover {
	
	background: var(--color-principal);
	color: var(--color-blanco);
}

.btn-kitchen {
	font-family: Open Sans;
    background: var(--color-rojizo); 
	color: #FFFFFF;
	text-transform: uppercase;
	border-radius: 0px;
	padding: 10px;
	border: 0px;
	letter-spacing: 1px;
	text-align: center;
	margin-top: 50%;
}

.btn-kitchen:hover {
	
	background: var(--color-principal);
	color: var(--color-blanco);
}


#sec-rec {
	background-color: var(--color-rojizo);
	text-align: center;
	padding: 20px;	
	font-family: 'Ubuntu', sans-serif;
	color: var(--color-blanco);
	margin-top: 5%;
	padding-top:5%;
	padding-bottom:5%;
}


	
.subtitulo{
	font-size: 20px;
	margin-bottom: 40px;
	width:40%;
	margin:auto;
	
	}



#sec-rec h4{
	font-size: 16px;
	color: #000000;
	font-weight: 800;
	margin-bottom: 20px;
	font-family: 'Ubuntu', sans-serif;
	}

.circulo{
	width: 100px;
	height: 100px;
	border-radius: 100%;
	line-height: 100px;
	/*border: 1px solid #DDDDDD;*/
	display: block;
	margin: auto;
	margin-bottom: 20px;
	box-shadow: 0px 0px 5px 2px #dddd;
	font: normal;
	font-size: 40px;
	color:var(--color-principal);
}

.circulo:hover {
box-shadow: 0px 0px 5px 2px #dddd;
background: var(--color-principal);
}

.circulo i {

color: var(--color-principal);
}



.circulo i:hover {

color: var(--color-rojizo);
}

    #sec-rec p{
	font-size: 12px;
	color: #000000;
	font-weight: 800;
	margin-bottom: 20px;
	
	}
	
#sec-rec p:hover{
	
	color: var(--color-blanco);
}

#sec-rec h4{
	
	color: var(--color-blanco);
}

.uno_aphron{
	
	margin-top: 37%
}

.dos{
margin-top: 20%;
}

.btn-gorro {
	font-family: Open Sans;
    background: var(--color-rojizo); 
	color: #FFFFFF;
	text-transform: uppercase;
	border-radius: 0px;
	padding: 10px;
	border: 0px;
	letter-spacing: 1px;
	text-align: center;
	margin-top: 22%;
}

.btn-gorro:hover {
	
	background: var(--color-principal);
	color: var(--color-blanco);
}

.cinco{
	
	margin-top: 4%;
}

.cuatro{
	
	margin-top: 35%;
}

.btn-medidora{
	
	margin-top: 26%;
}

.btn-queso{
	
	
	margin-top: 38%;
}

.btn-gorro{
	
	margin-top: 38%;
}

.sdia{
	
	margin-bottom: 5%;
}

#sobre_nosotros{
	
	margin-top: 5%;
	text-align: center;
}

#sobre_nosotros h1{
	
	color: var(--color-rojizo);
}

.text-sn{
	
	margin-top: 15%;
	text-align: justify;
}

.hb{
	
	margin-top: 15%;
}

.btn-sn {
	font-family: Open Sans;
    background: var(--color-rojizo); 
	color: #FFFFFF;
	text-transform: uppercase;
	border-radius: 0px;
	padding: 10px;
	border: 0px;
	letter-spacing: 1px;
	text-align: center;
	margin-top: 5%;
}

.btn-sn:hover {
	
	background: var(--color-principal);
	color: var(--color-blanco);
}



#contact{
	
	margin-top: 5%;
	text-align: center;
	
	
}

#contact h1{
	
	color: var(--color-rojizo);
}

#contact h3{
	
	margin-bottom: 5%;
}


.btn-solicitud{
	font-family: Open Sans;
    background: var(--color-rojizo); 
	color: #FFFFFF;
	text-transform: uppercase;
	border-radius: 0px;
	padding: 10px;
	border: 0px;
	letter-spacing: 1px;
	text-align: center;
	margin-top: 5%;
	margin-left: 65%;
}

.btn-solicitud:hover {
	
	background: var(--color-principal);
	color: var(--color-blanco);
}

footer{
	
	text-align: center;
	background: var(--color-rojizo);
	margin-top: 5%;
	font-family: 'Ubuntu', sans-serif;
	
}



footer i{
	
	width: 40px;
	margin-top:105%;
	margin-bottom: 5%;
	color: var(--color-principal);
	font-size: 30px	
}

footer i:hover{
	
	color: var(--color-blanco);
	
	}

.right{
	
	color: var(--color-principal);
	padding-top: 3%;
}

.footer_bandera{
	
	width: 50px;
    height: 30px;
	margin-left: 350%;
	margin-top: 50%;
	
	
}

.footer_eb{
	
	margin-top: 10%;
	
}

.footer_cr{
	
	margin-top: 10%;
	color: var(--color-principal);
}

@media (min-width:320px) and (max-width:480px){
}

@media (min-width:481px) and (max-width:768px){
}

@media (min-width:769px) and (max-width:1024px){
}

@media (min-width:1025px) and (max-width:1200px){
}

@media (min-width:1201px){
}
